@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}


h1{
    text-align: center;
    margin: 20px auto;
}

html{
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 17, 121, 0.707);
}

#calc{
    background-color: rgba(6, 111, 55, 0.788);
    margin: auto;
    width: 17vw;
    height: 50vh;
    padding: 10px;
    border-radius: 8px;
}

#olhador{
    width: 200px;
    height: 50px;
    margin: 5px auto 30px auto;
    background-color: white;  
    border-radius: 8px;
    padding: 5px;
    font-size: 20px;
}

#butaozao{
    display: grid;
    grid-template-columns: repeat(4 , 0fr);
    gap:4px;
    margin:auto;
    justify-content: center;
}

button{
    border-radius: 10px;
    width: 50px;
    height: 60px;
    background-color: rgba(15, 205, 161, 0.788);
    border-color: white;
    margin:auto 4px;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.792);
    transition: 0.56s;
}

button:nth-child(1){
    background-color: rgba(239, 84, 84, 0.89);
}

.especiais{
    background-color:rgba(169, 104, 104, 0.788) ;
}